<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Stress Check UP</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
</head>
<style>
h1 {
  margin-top: 3em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  color: teal;
}
.emphasis {
  font-weight: bold;
  display: inline-block;
  color:#edb850;
} 
</style>
<body>
<!-- MENU -->
<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/" class="header item">
       <i class="treatment icon"></i>
      Stress Check UP
    </a>
    <a href="/" class="item">Home</a>
    <div class="ui simple dropdown item">
      About <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{{ url_for('project') }}">Project</a>
        <a class="item" href="{{ url_for('facts') }}">Facts and Statistics</a>
      </div>
    </div>
  </div>
</div>
<!-- Page Contents -->
<div class="pusher"><br><br><br><br><br>
  <div class="ui centered text container">
  <h1><i class="book icon"></i>Facts</h1>
  <p>Stress, fatigue, and burnout; we’ve all experienced them at one point. Often times, they can be mistaken for each other, and for good reason since they’re closely assosciated. However, there are <b style="color:#edb850">stark differences</b> between the three.</p>
  <h3 class="ui horizontal header divider" style="color:#4b3f72" id="stress">
    <i class="heartbeat icon"></i>
    Stress
  </h3> 
  <p>Stress if your body’s natural reaction to physical and emotional demand. Otherwise put, it’s your <b style="color:#edb850">body’s alarm system</b> to a certain stimuli through hormones such as adrenaline. It is important to be noted that stress comes from you, not the environment. Stress is important because it keeps us alert, but if stress becomes unmanaged, that’s when stress becomes harmful.</p><br>
  <b style="color:#19647e">There are actually four types of stress:</b>
  <div class="ui divided very relaxed animated list">
  <div class="item"><i class="caret right icon"></i>
    <div class="content">
      <div class="header">Survival</div>
      <div class="description">“fight or flight”, your body’s reaction to danger
</div>
    </div>
  </div>
  <div class="item"><i class="caret right icon"></i>
    <div class="content">
      <div class="header">Internal</div>
      <div class="description">This is stress caused by internal stimuli (thoughts, emotions, etc.); this can be the addicting type of stress
</div>
    </div>
  </div>
  <div class="item"><i class="caret right icon"></i>
    <div class="content">
      <div class="header">Environmental</div>
      <div class="description">This is stress caused by external factors like noise, crowds, pressure from work</div>
    </div>
  </div>
  <div class="item"><i class="caret right icon"></i>
    <div class="content">
      <div class="header">Fatigue and Overwork</div>
      <div class="description">This is the type of stress that leads to more severe conditions like fatigue and burnout. This can be a result of overworking, lack of lifestyle management, and lack of rest.
      </div>
    </div>
  </div>
  </div>
  <br>
  <div class="ui column segment">
  <div class="ui orange ribbon label"><h3>Symptoms of Stress</h3></div>
  <div class="ui three column grid">
    <div class="column">
      <ul>
        <li>Headache</li>
        <li>Muscle tension</li>
        <li>Chest pain</li>
        <li>Fatigue</li>
        <li>Change in sex drive</li>
        <li>Upset stomach</li>
      </ul>
      </div>
      <div class="column">
      <ul>
        <li>Irregular sleeping patterns</li>
        <li>Anxiety</li>
        <li>Restlessness</li>
        <li>Inability to focus</li>
        <li>Overwhelmed</li>
        <li>Irritability</li>
      </ul>
      </div>
      <div class="column">
      <ul>
        <li>Depression</li>
        <li>Irregular eating patterns</li>
        <li>Substance abuse</li>
        <li>Outbursts</li>
        <li>Withdrawal</li>
        <li>Change in routine</li>
      </ul>
      </div>
    </div>
  </div>
  <p>Once you know if you’re experiencing stress, you can now start taking steps to manage it. The general way to deal with stress is to start finding ways to <b style="color:#edb850">relax</b>. Most people simply take short breaks from work or study. Others like participating in sports or other physical activity to channel the stress more positively. For some, yoga, tai chi, or any activity that helps regulate breathing is a big help, while others would simply just engage in their hobbies to relax.</p>
  <h3 class="ui horizontal header divider" style="color:#4b3f72" id="fatigue">
    <i class="heartbeat icon"></i>
    Fatigue
  </h3> 
  <p>It’s normal to feel extremely tired after a good workout or a long day at school or work. However, it’s a different case altogether when you feel <b style="color:#edb850">perpetually exhausted</b> mentally, physically, or even both. This is what we call fatigue. It is usually a result of lifestyle factors (sleeping patterns, travel/jet lag, physical activity, medication) and other ailments like cancer and anemia. Fatigue is often associated with stress and can actually be caused by it. Fatigue, being its own condition, can also be a symptom for more serious ailments both physical and mental such as depression.</p>
  <div class="ui column segment">
  <div class="ui orange ribbon label"><h3>Symptoms of Fatigue</h3></div>
  <div class="ui three column grid">
    <div class="column">
      <ul>
        <li>Inability to focus</li>
        <li>Lack of energy and motivation</li>
        <li>Substance abuse</li>
        <li>Irregular sleeping patterns</li>
        <li>Medication</li>
        <li>Excess or lack of physical activities</li>
      </ul>
      </div>
      <div class="column">
      <ul>
        <li>Chest pain</li>
        <li>Shortness of breath</li>
        <li>Irregular heartbeat</li>
        <li>Feeling of passing out</li>
        <li>Abdominal, back, pelvic pain</li>
        <li>Extreme headache and bleeding</li>
      </ul>
      </div>
      <div class="column">
      <ul>
        <li>Irritability</li>
        <li>Restlessness</li>
        <li>Short memory and attention span</li>
        <li>Sluggish, slow reaction, micro sleep</li>
        <li>Depression</li>
        <li>Indecisiveness</li>
      </ul>
      </div>
    </div>
  </div>
  <p>Fatigue is usually managed via <b style="color:#edb850">lifestyle changes</b>. The most common method is to regulate sleep, eating, and physical exercise since most fatigue is physically felt. Some people like to engage in yoga or mindfulness/meditation to help relax the body as well as the mind. Supplements can be taken as well like iron (for those with anemia) and even ginseng, which is known as a muscle relaxant. For more severe fatigue (experiencing chest pain, shortness of breath, pelvic/back/abdominal pain, bleeding, irregular heart beat, and severe headaches, it crucial to see a doctor.</p>
  <h3 class="ui horizontal header divider" style="color:#4b3f72" id="fatigue">
    <i class="heartbeat icon"></i>
    Burnout
  </h3> 
  <p>Burnout, much like fatigue is associated with stress but is far more severe. It can be described as a perpetual feeling of <b style="color:#edb850">negative emotion</b> accompanied by helplessness, despair, and mental and physical exhaustion. This is triggered by the feeling of lack of control in the events of one’s life, being on the receiving end of unfairness, conflicting values in institutions, disappointment, and disillusionment. People who are burnt out become ineffective in their fields, socially withdrawn, irritable, and emotionally blunt.</p>
  <div class="ui column segment">
  <div class="ui orange ribbon label"><h3>Symptoms of Burnout</h3></div>
  <div class="ui three column grid">
    <div class="column">
      <ul>
        <li>Depression</li>
        <li>Apathy</li>
        <li>Withdrawal</li>
        <li>Despair</li>
      </ul>
      </div>
      <div class="column">
      <ul>
        <li>Inability to focus</li>
        <li>Indecisiveness</li>
        <li>Short term memory</li>
        <li>Self-doubt</li>
      </ul>
      </div>
      <div class="column">
      <ul>
        <li>Negative outlook</li>
        <li>Change in routine</li>
        <li>Substance abuse</li>
        <li>Escaping responsibilities</li>
      </ul>
      </div>
    </div>
  </div>
  <p>Managing burnout is more complex though much like fatigue and stress, it starts with finding the root of your burnout. Addressing burnout involves <b style="color:#edb850">reevaluating priorities, commitments, and expectations</b>. Maximizing positive physical and mental activity also helps as it helps the person channel the energy in a more productive manner as well as regulating sleep and rest so as not to further exhaust the body. It is advised to stay away from alcohol or caffeine as chemicals may even worsen burnout.</p>

  </div> <!-- Container -->
</div>   <!-- Pusher -->
<br><br><br><br><br>
</body>
</html>
