{% from "_formhelper.html" import checker %}
<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Stress Check UP</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
</head>
<style>
body{
  white-space:nowrap;
}
.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
  }
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.yes h1{
  margin-top:-1.1em;
  font-size: 4em;
  font-weight: bold;
  color: #19647e;
}
.yes h2 {
  font-style: italic;
  margin-top: -5px;
  margin-bottom: 2em;
  font-weight: normal;
}
.yes .ui.huge.button {
  background-color:#3eadab;
  color: #fff;
}
.question{
    position:relative;
    height:200px;
    width:100%;
    display: inline-block;
}   
#prev{
    color: #ffc857;
    position:fixed;
    top:300px;
    left:10px;
}
#next{
  color: #ffc857;
    position:fixed;
    top:300px;
    right:10px;
}
#slides {
  min-height:700px;
  margin-top:18em;
}
input[type="radio"] {
  visibility: hidden
}
h1 {
  font-weight: normal;
}
.emphasis {
  font-weight: bold;
  display: inline-block;
  color:#3eadab;
}
.ui.indicating.progress {
  position: fixed;
  bottom: 30px;
  width:55%;
}
</style>
<body>
<!-- MENU -->
<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/" class="header item">
      <i class="treatment icon"></i>
      Stress Check UP
    </a>
    <a href="/" class="item">Home</a>
    <div class="ui simple dropdown item">
      About <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="{{ url_for('project') }}">Project</a>
        <a class="item" href="{{ url_for('facts') }}">Facts and Statistics</a>
      </div>
    </div>
  </div>
</div>  

<!-- Questions -->
<!-- <div id="prev">PREV</div>
<div id="next">NEXT</div> -->
<div id="slides" class="ui vertical centered aligned segment">
  <form method="POST" action="/"> 
  {{ form.csrf_token }}
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <div class="yes ui text container">
      <h1><b>Stress Check UP</b></h1>
      <h2>Unibersidad ng Pilipinas</h2>
      <div class="ui huge button toggle"><i class="treatment icon"></i>Get Checked</div></a>
    </div>
  </div></div></div>
  <!-- ANXIETY -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do you or have you felt <div class="emphasis">anxious</div> recently?</h1>{% for s in form.anx %}
  {% if loop.first %}{{s.label(class="increment ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="increment ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.anx)}}</div></div></div>
  <!-- DEPRESSION -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Are you or have you been <div class="emphasis">depressed</div> lately?</h1>{% for s in form.dep %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.dep)}}</div></div></div>
  <!-- MOOD SWINGS -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Are you experiencing <div class="emphasis">mood swings</div>?</h1>{% for s in form.moo %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.moo)}}</div></div></div>
  <!-- RESTLESSNESS -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do you feel <div class="emphasis">restless</div>?</h1>{% for s in form.res %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.res)}}</div></div></div>
  <!-- LACK OF MOTIVATION -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do you <div class="emphasis">lack</div> the <div class="emphasis">motivation</div> to finish your tasks?</h1>{% for s in form.mot %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.mot)}}</div></div></div>
  <!-- FRUSTRATION -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do you find yourself <div class="emphasis">frustrated</div> with your work?</h1>{% for s in form.fru %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.fru)}}</div></div></div>
  <!-- INDECISIVENESS -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do you have a <div class="emphasis">hard time</div> making <div class="emphasis">choices?</div></h1>{% for s in form.ind %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.ind)}}</div></div></div>
  <!-- INABILITY TO FOCUS -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do you find it difficult to <div class="emphasis">focus</div> on tasks at hand?</h1>{% for s in form.foc %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.foc)}}</div></div></div>
  <!-- OVERWHELMED -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do current events and your work <div class="emphasis">overwhelm</div> you?</h1>{% for s in form.ove %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.ove)}}</div></div></div>
  <!-- IRRITABILITY -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do you suffer episodes of <div class="emphasis">irritability</div>?</h1>{% for s in form.irr %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.irr)}}</div></div></div>
  <!-- DESPAIR -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do you <div class="emphasis">doubt</div> your situation can be better?</h1>{% for s in form.des %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.des)}}</div></div></div>
  <!-- LACK OF CONTROL IN THE EVENTS OF ONE'S LIFE -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Does it seem that you are <div class="emphasis">not in control</div> of your current situation?</h1>{% for s in form.con %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.con)}}</div></div></div>
  <!-- HIGH WORKLOAD -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Are you <div class="emphasis">swamped</div> with work?</h1>{% for s in form.hig %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.hig)}}</div></div></div>
  <!-- NAUSEA -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Are you experiencing or have you experience <div class="emphasis">nausea</div> recently?</h1>{% for s in form.nau %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.nau)}}</div></div></div>
  <!-- HEADACHE -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Have you had more frequent <div class="emphasis">headaches</div> lately?</h1>{% for s in form.hea %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.hea)}}</div></div></div>
  <!-- BLEEDING -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do you experience <div class="emphasis">bleeding</div>?</h1>{% for s in form.ble %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.ble)}}</div></div></div>
  <!-- SLUGGISHNESS -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do you feel <div class="emphasis">sluggish</div>?</h1>{% for s in form.slu %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.slu)}}</div></div></div>
  <!-- EXHAUSTION -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do you feel <div class="emphasis">exhausted</div>?</h1>{% for s in form.exh %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.exh)}}</div></div></div>
  <!-- FEELING OF PASSING OUT -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Have you had episodes where you felt like you were about to <div class="emphasis">faint</div>?</h1>{% for s in form.fee %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.fee)}}</div></div></div>
  <!-- MEDICATION -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Are you taking a certain <div class="emphasis">medication</div>?</h1>{% for s in form.med %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.med)}}</div></div></div>
  <!-- IRREGULAR SLEEPING PATTERB -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Do you find it <div class="emphasis">difficult to sleep</div> or <div class="emphasis">stay awake</div>?</h1>{% for s in form.isp %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.isp)}}</div></div></div>
  <!-- IRREGULAR EATING PATTERN -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Have you been <div class="emphasis">eating more or less</div> than you usually do?</h1>{% for s in form.iep %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.iep)}}</div></div></div>
  <!-- EXCESS OR LACK OF PHYSICAL ACTIVITIES -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Are you <div class="emphasis">doing more or less physical activities</div> <br>than you should be doing?</h1>{% for s in form.exc %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.exc)}}</div></div></div>
  <!-- ESCAPING RESPONSIBILITIES -->
  <div class="question"><div class="ui centered grid"><div class="pusher">
  <h1>Are you <div class="emphasis">escaping</div> your <div class="emphasis">responsibilities</div>?</h1>{% for s in form.esc %}
  {% if loop.first %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% if loop.last %}{{s.label(class="ui huge button toggle")}}{{s}}{% endif %}
  {% endfor %}{{checker(form.esc)}}</div></div></div>
  <!-- SUBMIT -->
  <div class="question">
  <div class="ui centered grid">
  <div class="pusher">
  <h1>Time for the <div class="emphasis">results</div>!</h1>
  <input type="submit" value="Enter" class="ui huge button toggle">
  </div>
  </div>
  </div>
  </form>
</div>   
<div class="ui centered text container ">
<div class="ui indicating progress" data-value="1" data-total="26" id="example">
  <div class="bar"><div class="progress"></div></div>
  <div class="label">Check UP Progress</div>
</div> 
</div><a href="#" id="prev"><i class="huge arrow circle left icon"></i></a>
 <a href="#" id="next"><i class="huge arrow circle right icon"></i></a>
<script type="text/javascript">
$(document).ready(function () {
  var $boxes = $(".question"),
    $current = $boxes.first();
    $("#next").click(function() {
      $current = $current.next(".question");
      $("body,html").animate({scrollLeft: $($current).offset().left}, 500);
    });
    $("#prev").click(function() {
      $current = $current.prev(".question");
      $("body,html").animate({scrollLeft: $($current).offset().left}, 500);
    });
    $(".ui.huge.button.toggle").state();
    $(".ui.huge.button.toggle").click(function() {
      $current = $current.next(".question");
      $("body,html").animate({scrollLeft: $($current).offset().left}, 500);
      $('#example').progress('increment');
  })
;
});
</script>
</body>

</html>
